body{
    font-family: 'poppins';
  background-color:  #000000;
}

.images-bg{
    position: relative;
    z-index: 999;
    background: url(./images/header/kisspng-201617-premier-league-english-football-league-l-lion-emoji-5b460f06eeac18.5589169115313180229776-removebg-preview.png) ;
    background-repeat: no-repeat;
    ;

}
.images-bg img{
    width: 48%;
    height: 100%;
    transform: translate(-20%,0%);
}
.dark{
    background-color: black ;
    display: flex;
    overflow: hidden;
}
.heading{
    color: #FF5E19;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}
.col-md-4.col-lg-4 img {
    height: 50%;
    transform: translate(206px, 177px);
    overflow: hidden;
}
img.card-img-top {
    height: 210px;
    width: 190px
}
.card.col-md-3.bg-card {
    height: 410px;
    width: 230px;
    border: 1px solid gray;
    margin:10px 5px ;
}

.bg-card{
background-color: #0D0D0D;
}
button.btn.btn-primary {
    width: 110px;
    margin-bottom: 10px;
}
hr{
    color: white;

}
footer{
    text-align: center;
    color: white;
}